<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2026 yuezu1026

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.vat.mapper.SystemUserMapper">  

    <insert id = "insertSystemUser" parameterType="com.vat.bean.SystemUser">
        INSERT INTO system_user(
	        user_id,
	        username,
	        password,
	        telphone
        )
        VALUES
        (
	        #{user.systemUserId,jdbcType=VARCHAR},
	        #{user.username,jdbcType=VARCHAR},
	        #{user.password,jdbcType=VARCHAR},
	        #{user.telphone,jdbcType=VARCHAR}
	    )
    </insert>
    
    <select id="findSystemUserPassword" parameterType="com.vat.bean.SystemUser" resultType="com.vat.bean.SystemUser">
        SELECT system_user_id AS systemUserId,
        	username,
        	password,
        	telphone
        FROM system_user 
        WHERE username=#{username,jdbcType=VARCHAR} 
        AND password=#{password,jdbcType=VARCHAR}
    </select>
    
     <select id="findSystemUser" parameterType="com.vat.bean.SystemUser" resultType="com.vat.bean.SystemUser">
        SELECT system_user_id AS systemUserId,telphone
        FROM system_user 
        WHERE username=#{username,jdbcType=VARCHAR}
    </select>

</mapper>