<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.vat.mapper.UserMapper">

		<resultMap id="userMapping" type="com.vat.bean.User">
		    <id column="user_id" property="userId" javaType="String"/>
		    <result column="username" property="username" javaType="String"/>
		    <result column="gender" property="gender"  javaType="String"/>
		    <result column="email" property="email"  javaType="String"/>
		    <result column="company_name" property="companyName"  javaType="String"/>
		    <result column="telphone" property="telphone"  javaType="String"/>
		    <result column="pass_flag" property="passFlag"  javaType="String"/>
		    <result column="start_service_date" property="startServiceDate"  javaType="String"/>
		    <result column="end_service_date" property="endServiceDate"  javaType="String"/>
		     <result column="create_date" property="createDate"  javaType="String"/>
		</resultMap>

    <insert id = "insertUser" parameterType="com.vat.bean.User">
        INSERT INTO user(
	        user_id,
	        username,
	        password,
	        gender,
	        email,
	        company_name,
	        telphone
        )
        VALUES
        (
	        #{user.userId,jdbcType=VARCHAR},
	        #{user.username,jdbcType=VARCHAR},
	        #{user.password,jdbcType=VARCHAR},
	        #{user.gender,jdbcType=VARCHAR},
	        #{user.email,jdbcType=VARCHAR},
	        #{user.companyName,jdbcType=VARCHAR},
	        #{user.telphone,jdbcType=VARCHAR}
	    )
    </insert>
    
    <update id="update" parameterType="com.vat.bean.User">
     	UPDATE user SET username=#{username} , password=#{password} WHERE user_id=#{userId,jdbcType=VARCHAR}
    </update>
    
    <update id="reviewUser" parameterType="com.vat.bean.User">
        UPDATE user SET pass_flag=#{user.passFlag,jdbcType=VARCHAR},
          start_service_date=#{user.startServiceDate,jdbcType=VARCHAR},
           end_service_date=#{user.endServiceDate,jdbcType=VARCHAR}
          WHERE user_id=#{user.userId,jdbcType=VARCHAR}
    </update>
    
    
    
    <select id="findUserPassword" parameterType="com.vat.bean.User" resultType="com.vat.bean.User">
        SELECT user_id AS userId,
        	username,
        	password,
        	pass_flag AS passFlag
        FROM user WHERE username=#{username,jdbcType=VARCHAR} AND password=#{password,jdbcType=VARCHAR}
    </select>
    
     <select id="findUser" parameterType="com.vat.bean.User" resultType="com.vat.bean.User">
        SELECT user_id AS userId
        FROM user WHERE username=#{username,jdbcType=VARCHAR}
    </select>
    
    
  <select id="findUserById" parameterType="string" resultMap="userMapping">
        SELECT user_id,
	        username,
	        password,
	        gender,
	        email,
	        company_name,
	        telphone,
	        pass_flag,
	        start_service_date,
	        end_service_date,
	        create_date
        FROM user WHERE user_id=#{userId,jdbcType=VARCHAR}
    </select>
    
    
    
    
    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE user_id=#{0}
    </delete>
    
    
    <select id="findUserByPage" parameterType="com.vat.bean.User" resultMap="userMapping">
        SELECT 
            user_id,
	        username,
	        password,
	        gender,
	        email,
	        company_name,
	        telphone,
	        pass_flag,
	        start_service_date,
	        end_service_date,
	        create_date
         FROM user t 
         ORDER BY t.create_date DESC
    </select>
    
</mapper>