<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>增值税计算系统</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <link href="/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" /> 
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/vat/index.do"><em class="fa fa-gear"></em> 增值税计算系统</a></div>

            <ul class="nav navbar-top-links navbar-right">
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/user/clearUserLogin.do"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="/vat/index.do"><i class="fa fa-dashboard"></i>计算说明</a>
                    </li>
                    <li>
                        <a  href="/vat/import_data.do"><i class="fa fa-fw fa-file"></i>数据导入</a>
                    </li>
                    <li>
                        <a  href="/vat/computing.do"><i class="fa fa-fw fa-file"></i>数据计算</a>
                    </li>
                    
                     <li>
                        <a class="active-menu"  href="/vat/result.do"><i class="fa fa-fw fa-file"></i>计算结果</a>
                    </li>
                    
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            增值税计算
                        </h1>
                    </div>
                </div>
				
				<div class="row">
				
				 <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                           <small>结果</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
                 
                  <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">亚马逊</a>
                                </li>
                                <li class=""><a href="#profile" data-toggle="tab">易贝</a>
                                </li>
                                <li class=""><a href="#messages" data-toggle="tab">GB</a>
                                </li>
                               
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="home">
                                    <p></p>
                                   
                                   <div class="row">
                <div class="col-md-10">
                
                    <div class="panel panel-default">
                      
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                        	<td>#</td>
                                            <th>报告编号</th>
                                            <th>所属国家</th>
                                            <th>下载</th>
                                            <th>生成时间</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <#list amazonMap.pdfList! as item> 
									          	 <tr>
									          	 	<td>${item.pdfId}</td>
		                                            <td>${item.reportNo}</td>
		                                            <td>${item.needComputingCountry}</td>
		                                            <td><a href="/report/download?pdfId=${item.pdfId}">下载</a></td>
		                                            <td>${item.createDate!}</td>
		                                        </tr>
									</#list>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div >
                            <ul class="pagination pull-right">
                            <#if amazonMap.currentPage?? && amazonMap.currentPage lte 1>
                                <li class="disabled"><a href="#">上一页</a></li>
                            <#else>
                                <li><a href="/vat/result.do?page=${amazonMap.currentPage - 1}&size=${amazonMap.size!}">上一页</a></li>
                            </#if>
 
                            <#if (amazonMap.totalPages?? && amazonMap.totalPages > 0)>
                            	<#if amazonMap.currentPage == 1>
                                	<li class="disabled"><a href="/vat/result.do?page=1&size=${amazonMap.size}" >1</a></li>
                                <#else>
                                	<li><a href="/vat/result.do?page=1&size=${amazonMap.size}" >1</a></li>
                                </#if>
                            </#if>
 
                            <#if (amazonMap.totalPages?? && amazonMap.totalPages > 1)>
                            <#--如果当前页往前查3页不是第2页-->
                                <#if ((amazonMap.currentPage - 3) > 2)>
                                    <li><span class="text">…</span></li>
                                </#if>
 
                                <#list (amazonMap.currentPage - 3)..(amazonMap.currentPage + 3) as index>
                                <#--如果位于第一页和最后一页之间-->
                                    <#if (index > 1) && (index < totalPages)>
                                    	<#if amazonMap.currentPage == index>
                                        	<li class="disabled"><a href="/vat/result.do?page=${index}&size=${amazonMap.size}" >${index}</a></li>
                                        <#else>
                                        	<li><a href="/vat/result.do?page=${index}&size=${amazonMap.size}" >${index}</a></li>
                                         </#if>
                                    </#if>
                                </#list>
 
                                <#if (amazonMap.currentPage + 3) lt (amazonMap.totalPages - 1)>
                                    <li><span class="text">…</span></li>
                                </#if>
                                
 								<#if amazonMap.currentPage == amazonMap.totalPages>
                                	<li class="disabled"><a href="/vat/result.do?page=${amazonMap.totalPages}&size=${amazonMap.size}" >${amazonMap.totalPages}</a></li>
                                <#else>
                                	<li><a href="/vat/result.do?page=${amazonMap.totalPages}&size=${amazonMap.size}" >${amazonMap.totalPages}</a></li>
                                </#if>
                                
                            </#if>
 
                            <#if amazonMap.currentPage??  && amazonMap.currentPage gte amazonMap.totalPages>
                                <li class="disabled"><a href="#">下一页</a></li>
                            <#else>
                                <li><a href="/vat/result.do?page=${amazonMap.currentPage + 1}&size=${amazonMap.size!}">下一页</a></li>
                            </#if>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
             </div>
             <div class="tab-pane fade" id="profile">
                 <p>to do.</p>
             </div>
             <div class="tab-pane fade" id="messages">
                 <p>
                   
                   <div class="panel panel-default">
                      
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                        	<td>#</td>
                                            <th>报告编号</th>
                                            <th>所属国家</th>
                                            <th>下载</th>
                                            <th>生成时间</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <#list gbMap.pdfList! as item> 
									          	 <tr>
									          	 	<td>${item.pdfId}</td>
		                                            <td>${item.reportNo}</td>
		                                            <td>${item.needComputingCountry}</td>
		                                            <td><a href="/report/download?pdfId=${item.pdfId}">下载</a></td>
		                                            <td>${item.createDate!}</td>
		                                        </tr>
									</#list>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div >
                            <ul class="pagination pull-right">
                            <#if gbMap.currentPage?? && gbMap.currentPage lte 1>
                                <li class="disabled"><a href="#">上一页</a></li>
                            <#else>
                                <li><a href="/vat/result.do?page=${gbMap.currentPage - 1}&size=${gbMap.size!}">上一页</a></li>
                            </#if>
 
                            <#if (gbMap.totalPages?? && gbMap.totalPages > 0)>
                            	<#if gbMap.currentPage == 1>
                                	<li class="disabled"><a href="/vat/result.do?page=1&size=${gbMap.size}" >1</a></li>
                                <#else>
                                	<li><a href="/vat/result.do?page=1&size=${gbMap.size}" >1</a></li>
                                </#if>
                            </#if>
 
                            <#if (gbMap.totalPages?? && gbMap.totalPages > 1)>
                            <#--如果当前页往前查3页不是第2页-->
                                <#if ((gbMap.currentPage - 3) > 2)>
                                    <li><span class="text">…</span></li>
                                </#if>
 
                                <#list (gbMap.currentPage - 3)..(gbMap.currentPage + 3) as index>
                                <#--如果位于第一页和最后一页之间-->
                                    <#if (index > 1) && (index < totalPages)>
                                    	<#if gbMap.currentPage == index>
                                        	<li class="disabled"><a href="/vat/result.do?page=${index}&size=${gbMap.size}" >${index}</a></li>
                                        <#else>
                                        	<li><a href="/vat/result.do?page=${index}&size=${gbMap.size}" >${index}</a></li>
                                         </#if>
                                    </#if>
                                </#list>
 
                                <#if (gbMap.currentPage + 3) lt (gbMap.totalPages - 1)>
                                    <li><span class="text">…</span></li>
                                </#if>
                                
 								<#if gbMap.currentPage == gbMap.totalPages>
                                	<li class="disabled"><a href="/vat/result.do?page=${gbMap.totalPages}&size=${gbMap.size}" >${gbMap.totalPages}</a></li>
                                <#else>
                                	<li><a href="/vat/result.do?page=${gbMap.totalPages}&size=${gbMap.size}" >${gbMap.totalPages}</a></li>
                                </#if>
                                
                            </#if>
 
                            <#if gbMap.currentPage??  && gbMap.currentPage gte gbMap.totalPages>
                                <li class="disabled"><a href="#">下一页</a></li>
                            <#else>
                                <li><a href="/vat/result.do?page=${gbMap.currentPage + 1}&size=${gbMap.size!}">下一页</a></li>
                            </#if>
                            </ul>
                        </div>
                        </div>
                    </div>
                   
                 </p>
             </div>
         </div>
     </div>
     </div>
	</div> 
				<footer> 
					<#import "/lib/copyright.html" as my>
				</footer>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
	
    <script>
          
    </script>
    <script src="/assets/js/custom-scripts.js"></script>
</body>

</html>